@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bellota Text", cursive;
}

.App {
  text-align: center;
}
